<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coffee or Nothing</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
  <div id="app">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', path='imagens/logo.png') }}" alt="Coffee or Nothing" class="logo">
        </a>
        <button class="mobile-menu-btn" id="menuBtn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="nav-links" id="navLinks">
          <li><a href="#home" class="active">Início</a></li>
          <li><a href="catalogo.html">Catalogo</a></li>
          <li><a href="./login.html">Entre ou Cadastrar-se</a></li>
        </ul>
      </div>
    </nav>

    